@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);*,
.w3-sidebar *,
.w3-main * {
  font-family: Cairo;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Cairo;
}

.w3-teal,
.w3-hover-teal:hover {
  color: #59738e !important;
  background-color: #EDEDED !important;
  border-bottom: 1px solid #D9DEE4 !important;
}

.w3-button:hover {
  color: #23527c !important;
  text-decoration: none;
  font-weight: bold;
  background: #EFEFEF;
}

.w3-button.active {
  color: #23527c;
  font-weight: bold;
  background: #EFEFEF;
  text-decoration: none;
}

.w3-sidebar {
  padding-top: 10px;
}

.w3-sidebar .w3-bar-item {
  text-align: right;
}

.w3-sidebar .w3-bar-item:first-of-type {
  font-size: 1.3rem;
}

.statistics {
  padding: 20px 0;
  background: #f7f7f7;
}

.statistics div {
  border-right: 1px solid #DDD;
  text-align: center;
  color: #73879c;
}

.statistics div:first-of-type {
  border-right: none;
}

.statistics div i,
.statistics div span {
  font-size: 13px;
}

.statistics div span {
  font-family: 'Droid Arabic Kufi';
}

.statistics div h1 {
  font-family: Cairo;
  font-weight: bold;
}

.dashboard {
  background: #f2f2f2;
  padding: 20px 0;
  text-align: right;
}

.dashboard .last-comments h5 {
  margin: 0;
  color: #5394ce;
}

.dashboard .last-comments span {
  font-size: 10px;
}

.dashboard .last-comments p {
  margin-top: 10px;
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

.dashboard .last-comments .card-body {
  border-bottom: 1px solid #DDD;
}

.dashboard .top-books span.text-muted {
  font-size: 13px;
}

.dashboard .top-books .card-body {
  border-bottom: 1px solid #DDD;
}

.posted_books,
.categories {
  margin-top: 20px;
}

.posted_books table,
.categories table {
  text-align: right;
}

.categories table {
  border-bottom: 1px solid #DDD;
}

.categories .add-new {
  margin-top: 15px;
}

/**
* Login Form
*/

.overlay {
  background: rgba(41, 36, 36, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 8;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.adding-card {
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #FFF;
  border-radius: 4px;
  border: 1px solid #DEDEDE;
  padding: 17px 20px 0;
  text-align: center;
}

.adding-card .card-title {
  border-bottom: 1px solid #DEDEDE;
  padding-bottom: 10px;
}

i.close-form {
  position: absolute;
  left: 8px;
  top: 8px;
  cursor: pointer;
}

