* {
  font-family: Cairo;
  word-wrap: break-word;
}

body {
  background: #EFEFEF;
}

.cursor-pointer {
  cursor: pointer;
}

/**
* Navbar
*/

nav.navbar {
  border-bottom: 1px solid #DEDEDE;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #555;
}

/**
* Bigger container
*/

@media (min-width: 576px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 820px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1060px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1340px;
  }
}

/**
* Login Form
*/

.overlay {
  background: rgba(41, 36, 36, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 8;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.login-card,
.register-card {
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #FFF;
  border-radius: 4px;
  border: 1px solid #DEDEDE;
  padding: 17px 20px 0;
  text-align: center;
}

.login-card .card-title,
.register-card .card-title {
  border-bottom: 1px solid #DEDEDE;
  padding-bottom: 10px;
}

i.close-form {
  position: absolute;
  left: 8px;
  top: 8px;
  cursor: pointer;
}

/**
* Front end
*/

.article,
.author {
  background: #FFF;
  padding: 20px;
  border-radius: 4px;
  border: 2px solid #dcdcdc;
  margin-bottom: 10px;
  overflow: hidden;
  text-align: center;
  height: calc(100% - 15px);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.article img,
.author img {
  width: 100%;
  height: 180px;
  border: 1px solid #dcdcdc;
  -webkit-transition: all;
  transition: all;
}

.article a,
.author a {
  color: #000;
  font-weight: bold;
  font-family: 'Markazi Text';
}

.article:hover {
  border: 2px solid #57bd9c;
}

.author {
  height: auto;
}

.author img {
  height: auto;
  border: none;
  margin-bottom: 5px;
  border-radius: 50%;
}

.author p {
  font-family: 'Markazi Text';
  font-size: 18px;
  margin: 0;
  color: #57bd9c;
}

.little-title {
  line-height: 1.6;
}

.little-title small {
  color: #57bd9c;
  font-size: 16px;
}

.little-title:after {
  content: '';
  display: block;
  width: 40px;
  height: 2px;
  background: #57bd9c;
  margin: 14px 0 20px;
}

.introduction {
  background: #FFF;
  border: 2px solid #DCDCDC;
  border-radius: 4px;
  position: relative;
}

.introduction .content {
  margin: 20px;
}

.introduction .content img {
  width: 180px !important;
  min-height: 200px;
  max-height: 320px;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  padding: 2px;
}

.introduction .content h5 {
  line-height: 1.5;
  font-size: 1.225rem;
}

.introduction .content p {
  margin: 0;
}

.introduction .content p a,
.introduction .content p span {
  font-size: 18px;
}

.introduction .content p span {
  margin-left: 5px;
}

.introduction .content p a {
  color: #1abc9c;
}

.introduction .content .media .statistics {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #EFEFEF;
  padding: 6px 8px;
  border-top-right-radius: 5px;
}

.introduction .content .media .statistics span,
.introduction .content .media .statistics a {
  padding: 5px;
}

.introduction .content .media .statistics span:first-of-type,
.introduction .content .media .statistics a:first-of-type {
  padding-left: 10px;
  color: #1abc9c;
  border-left: 1px solid #DDD;
  cursor: pointer;
}

.introduction .content .media .statistics span:last-of-type,
.introduction .content .media .statistics a:last-of-type {
  padding-right: 10px;
}

.rating .checked {
  color: orange;
}

.description {
  margin-top: 20px;
  border-radius: 5px;
  background: #FFF;
  padding: 20px;
}

.description p.alert {
  background: #FFF;
  margin-bottom: 20px;
}

.description p.about {
  line-height: 1.9;
  font-size: 17px;
}

.description button {
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 9px;
  font-size: 16px;
}

.description button.btn-search {
  background: #DEDEDE;
}

.related {
  margin: 30px 0;
}

/**
* Footer
*/

.footer {
  border-top: 1px solid #DEDEDE;
  background: #FFF;
}

.footer ul {
  list-style: none;
}

.footer ul li {
  display: inline;
  padding: 0 8px;
}

.footer ul li a {
  color: #1abc9c;
}

/**
* Comments
*/

.panel {
  position: relative;
  margin-bottom: 5px;
}

.panel > .panel-heading:after,
.panel > .panel-heading:before {
  position: absolute;
  top: 11px;
  right: -16px;
  left: 100%;
  width: 0;
  height: 0;
  display: block;
  content: " ";
  border-color: transparent;
  border-style: solid solid outset;
  pointer-events: none;
}

.panel > .panel-heading:after {
  border-width: 7px;
  border-left-color: #f7f7f7;
  margin-top: 1px;
  margin-right: 2px;
}

.panel > .panel-heading:before {
  border-left: #ddd;
  border-width: 8px;
}

/**
* Sidebar
*/

.sidebar > .widget {
  background: #FFF;
  margin-bottom: 30px;
  padding: 15px;
  border: 2px solid #DDD;
}

.sidebar > .widget .widget-title {
  font-weight: bold;
}

.sidebar > .widget .widget-title:after {
  content: '';
  display: block;
  width: 40px;
  height: 2px;
  background: #57bd9c;
  margin: 7px 0 20px;
}

.sidebar > .widget .widget-content ul {
  list-style: none;
  padding: 0 5px;
  line-height: 2.2;
}

.sidebar > .widget .widget-content ul a {
  color: #333;
  text-decoration: none;
}

.sidebar > .widget .widget-content ul a li:after {
  -webkit-transition: all .2s;
  transition: all .2s;
  content: '';
}

.sidebar > .widget .widget-content ul a li:hover:after {
  display: block;
  width: 100%;
  height: 2px;
  background: #57bd9c;
  margin: 5px 0;
}

.sidebar > .widget .widget-content ul a li span {
  width: calc(100% - 20px);
  display: inline-block;
}

.sidebar > .widget .widget-content ul a li i {
  max-width: 10px;
  display: inline-block;
  color: #58BE9D;
}

